// :host {
//     background:gainsboro;
// }

h1,h2 {
    margin: 1rem 0;
}

.gains {
    background: rgba(220, 220, 220, .4);
    min-height:calc(100vh - 9rem);
    padding: 0.1rem 3rem 0;
}

.flexBoxAside {
    position:relative;
    display:flex;
    flex-flow:row wrap;
    padding: 1rem 0;
    // background:red;
    // margin-bottom:2rem;



}






    input[type="checkbox"] {
        opacity:0;
        width:0;
        height:0;
    }
    label {
        position: relative;
    display: block;
    z-index: 11;
    top: 3.5rem;
    width: 2.5rem;
    height: 2.5rem;
    left: 2rem;
    margin-top: -4.5rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;


       svg {
        width: 2.5rem;
        height: 2.5rem;
        // position:relative;
        // left:15rem;
       }
    path {
        fill:#006797;
    }
    }

    .flexBoxAside aside {   
        padding-top:3.5rem;
        top:0;
        opacity:1;
        min-height:17.6rem;
        width:auto;
        backface-visibility: hidden;
        transition: 
        flex .3s ease-in-out, 
        width .1s ease-in-out, 
        transform .3s ease-in-out, 
        opacity .001s ease-in-out, 
        // min-height .5s ease-in-out;
    }


    
    input[type="checkbox"]:checked ~ label  {
        left:1.2rem;

       transform: rotate(180deg);


    }

    input[type="checkbox"] ~ .flexBoxAside aside  {

        // color:white;
        flex: 1 1 auto;
        position:relative;
        
    }
    input[type="checkbox"]:checked ~ .flexBoxAside aside {
        
        position:relative;
        flex: 0 0 auto;
        // top:1rem;
        width:0;
        transform: translateX(-130%);
        opacity:0;
        // min-height:0rem;
        // overflow:hidden;
        // display:none;

   


    }






main {

    flex: 5 1 10rem;
    padding: 1rem;
    min-height:35rem;
    background: white;
    margin: 3.5rem 0rem 1rem 2rem;
    border-radius: 0.4rem;
    box-shadow: 0 1px 6px 0 rgb(32 33 36 / 30%);
    border: 1px solid rgba(138, 138, 138, .3);
    transition: flex 1s 1.5s ease-in-out, 
    // transform .3s ease-in-out, 
    // opacity .1s ease-in-out, 
    // min-height .5s ease-in-out;
}

input[type="checkbox"]:checked ~ .flexBoxAside main {
    margin: 3.5rem 0rem 1rem 0rem;
    
}

.iconBackBox {
    display: inline-flex;
    align-items:center;
    margin-top:.5rem;
    cursor:pointer;
}

.iconBack {
    margin: 0.35rem 0.5rem 0 0.5rem;
    // transform: translateY(.2rem); 
    svg {
        width:1.5rem;
        height:1.5rem;
    }
}
