<div class="search-results" infiniteScroll [infiniteScrollDisabled]="stopScroll" [infiniteScrollUpDistance]=".1"
  [infiniteScrollDistance]="2" [infiniteScrollThrottle]="10" (scrolled)="onScroll()">
  <!-- Parent container for infinite scroll -->

  {{stopSpinner$ | async}}
  <div class="spinner-container" *ngIf="spinner$ | async">
    <!-- <p>Loading.......</p> -->
    <app-spinner></app-spinner>
  </div>
  <main>
    <section>

      <app-search-form></app-search-form>


    </section>
    <section class="filterTabs">
      <app-filter-tabs></app-filter-tabs>
    </section>

  </main>
  <router-outlet></router-outlet>
</div>
