<div 
class="search-results" 
infiniteScroll
[infiniteScrollDisabled]="stopScroll"
[infiniteScrollUpDistance]=""
[infiniteScrollDistance]="2.5" 
[infiniteScrollThrottle]="200"
  (scrolled)="(!stopScroll) && onScroll()">
  <!-- Parent container for infinite scroll -->

<main>
    {{stopSpinner$ | async}}
    <div class="spinner-container" *ngIf="spinner$ | async">
        <!-- <p>Loading.......</p> -->
        <app-spinner></app-spinner>
    </div>
    <section>

        <app-search-form></app-search-form>

            <!-- <p>{{inputString}}</p> -->

    </section>
    <section class="filterTabs">
        <app-filter-tabs></app-filter-tabs>
    </section>
</main>
<router-outlet></router-outlet>
</div>

