<!-- <a href="#">
  <article>
    <p>{{documento | json}}</p>
  </article>
</a> -->
<a href="#">
  <article>
    <div class="flexInfoBox">
      <div class="iconFileBox">
        <img src="/assets/images/file_icons/file_icon_1.svg">
      </div>
      <div class="mainInfoBox">
        <p>{{documento | json}}</p>
      </div>
      <div class="downloadBox">
        <!-- <p>{{documento | json}}</p> -->
        <div class="iconDownloadBox">
          <p>descargar</p>
          <div class="iconDownload">
            <img src="/assets/images/download_icons/download_icon_1.svg">
          </div>
          <div class="relevanciaBox">
            <p>relevancia</p>
            <p>{{'100%'}}</p>
          </div>
        </div>


      </div>

    </div>
    <hr>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam quaerat placeat nihil exercitationem dolore voluptate culpa tenetur reiciendis eligendi quisquam dolores ab, voluptas corrupti optio velit, soluta dolorem mollitia consequatur quis quam autem, facere veritatis. Esse corporis, ipsam atque incidunt dolores, cumque libero explicabo, magni aut assumenda odio exercitationem dolorem deserunt. </p>
  </article>

</a>
