header {
  height: 9rem;
  background: red;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
