:host {
    margin-left:auto;
    display:flex;
    align-items:center;
    background:white;
    color:gainsboro;
    padding:1rem;
    min-width:35rem;
    color:rgb(4, 82, 4);
    border-radius:.5rem;
}

p {
    font-weight:500;
    font-size:1.3rem;
    letter-spacing:.1rem;
    // min-height:40px;
}