<div class="flexBoxInfo">
  <h3>
    Datos Documento
  </h3>
  <div class="boxInfoRow">
    <p>ID</p>
    <p>{{documento.id}}</p>
  </div>
  <div class="boxInfoRow">
    <p>Descripcion</p>
    <p>{{documento.descripcion}}</p>
  </div>
  <div class="boxInfoRow">
    <p>Tipo Documental</p>
    <p>{{documento.tipo_documental}}</p>
  </div>
  <div class="boxInfoRow">
    <p>Magistrado</p>
    <p>{{documento.magistrado}}</p>
  </div>
  <hr>
  <div class="boxInfoRow">
    <p>Relevancia</p>
    <p>{{'100%'}}</p>
  </div>


</div>
