.search {
    position:relative;
}

input {
    width: 35rem;
    padding: 0.6rem;
    font-size:1.2rem;
}

input#search {
    margin-top:1rem;
    border:none;
    outline:none;
    padding:1rem;
    border-radius:.5rem;
}

img.search {
    position: absolute;
    top: 1.9rem;
    left: 30.5rem;
    width: 2rem;
    height: 2rem;

}