:host {
    margin:2rem 0;
    // background:red;
    // color:white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:3rem;
}

a {
    color:inherit;
    text-decoration:none;
    width:11rem;
    text-align: center;
}