<!-- <a [routerLink]="['/documentos']" routerLinkActive="active">documentos</a> -->
<div class="tabs">
  <a [routerLink]="['/documentos']" routerLinkActive="active">{{'documentos' | titlecase}}</a>
  <a [routerLink]="['/resoluciones']" routerLinkActive="active">{{'resoluciones' | titlecase}}</a>
  <a [routerLink]="['/escritos']" routerLinkActive="active">{{'escritos' | titlecase}}</a>
</div>

<!-- Barra de percentaje de docs acumulados del total -->
<!-- <p class="percentage"
  [style.width.%]="((documentosLength$ | async) / (documentosTotalQueryLength$ | async) * 100)?(documentosLength$ | async) / (documentosTotalQueryLength$ | async) * 100:0">
</p> -->
