
<section>
  <div appFijar [offset]="10">
    <div class="filtrosSection" >
      <app-filtro  [filtroscombinado1]="filtrosDocumentos"></app-filtro>
      <app-filtro  [filtroscombinado1]="filtrosEscritos"></app-filtro>
    </div>
  </div>



  <div *ngIf="docsEscritos$ | async as documents;else error">
    <div *ngIf="isArray(documents)">
      <p class="voidSearch" *ngIf="documents.length===0">Esta búsqueda no devuelve documentos</p>
      <app-document-card *ngFor="let document of documents" [documento]="document"></app-document-card>
    </div>
    <div class="httpError" *ngIf="errorObj">
      <p>{{errorObj}}</p>
    </div>
  </div>
</section>
<!-- <div *ngIf="!errorObj">
  <p class="voidSearch">{{!!(docsEscritosLength$ | async) ? null:"Esta búsqueda no devuelve documentos"}}</p>
</div>
<div class="httpError" *ngIf="errorObj">
  <p>{{errorObj}}</p>
</div> -->
