:host section {
  position: relative;
  margin-top: 12.4rem;
}


.noJump {
  margin-top:5rem;
  position:relative;
  top:-2rem;
}

// .httpError {
//   margin: 3rem;
//   color: white;
//   background: red;
//   padding: 2rem 0;
//   text-align: center
// }

// .voidSearch {
//   margin: 3rem;
//   color: red;
//   // background:red;
//   padding: 2rem 0;
//   // text-align:center
// }