:host section {
  position: relative;
  margin-top: 12.4rem;
}





.collapsa {
  display:flex;
  flex-flow:row wrap;
  align-items:center;
  cursor:pointer;
  position:relative;
  top:0.5rem;
  right: 0.7rem;
}


.collapsaBoxIcon {
  svg {
    width: 2.5rem;
    height: 2.5rem;
    transform: translate(0.7rem, 0rem) rotate(-180deg) scale(.95);
  }
}
.collapsaBoxIcon.collapsed {
  svg {
    transform: translate(0.7rem, 0rem) rotate(-90deg) scale(.95);
    path {
      stroke: #007c25;
      stroke-width: 1.15;
    }
  }
}

